/* GLOBAL STYLING */
html {
    font-size: 100%;
    --maxWidth: 94.5rem;
    --gap: 5.75rem;
    --gapReversed: -5.75rem;
    --widthPara: 60vw;
    --maxWidthPara: 1070px;
    --paddingTop: 16rem;
    --headingHeight: 6rem;
}
body {
    background-color: #F4F4F4;
    font-family: 'Prompt', sans-serif;
}

/* TYPOGRAPHY */
h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 100%;
}

h1 {
    font-size: var(--headingHeight);
    font-weight: 900;
}

h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

p, em {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

small {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 150%;
}

em {
    font-style: normal;
    color: #E860ED;
}

a { color: #222226; text-decoration: none; }
a:hover{ color:#E860ED; }

/* random stuffs */
.wrapper-grid {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 0 var(--gap);
    text-align: center;
}
.seperator-h {
    height: 1px;
    /* width: 100%; */
    max-width: var(--maxWidth);
    /* margin: 0 auto; */
}
.seperator-v {
    width: 1px;
    align-self: stretch;
}

/* NAVIGATION BAR */
ul {
    margin: 0;
    padding: 0;
}
nav {
    margin-bottom: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.nav-container {
    width: 11.75rem;
    display: flex;
}
.nav-icon {
    width: 2.5rem;
    height: 2.5rem;
}

#dropdown-menu {
    /* position:absolute; */
    display: none;
    width: 100vw;
    margin: 0 -8px;
    gap: 2.25em;
    flex-direction: column;
    padding: 36px 0px 36px 0px;
    align-items: center;
    background-color: #F4F4F4;
    z-index: 3;
}
#dropdown-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
}

/* HERO BANNER */
.hero-banner {
    padding-top: 9.25rem;
}
.h-container_grid {
    /* grid-column: 2/6; */
    /* position: relative; */
    margin: 0 auto;
    width: var(--widthPara);
    max-width: var(--maxWidthPara);
    display: flex;
    gap: 2.25rem;
    flex-direction: column;
}
.line-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: var(--headingHeight);
}
.line-wrapper h1 {
    flex-shrink: 0;
}
.line-wrapper .button {
    flex-grow: 3;
}
.image-wrapper {
    flex-grow: 3;
    height: var(--headingHeight);
    overflow: hidden;
}
.image-wrapper img {
    flex-grow: 3;
    height: var(--headingHeight);
    object-fit: cover;
}

.hero-images {
    margin: -5rem -8px 0px -8px;
    width: 100vw;
}

/* BUTTON */
.button {
    display: flex;
    height: 4.5rem;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    color: #E860ED;
    border: 2px solid #E860ED;
}

/* ABOUT ME */
.about-me {
    margin: var(--paddingTop) auto 0 auto;
    display: flex;
    max-width: var(--maxWidth);
    padding: 0 var(--gap);
    gap: 1.5rem;
    height: 28rem;
}
.about-me img {
    object-fit: cover;
}
.about-me .img-1 {
    min-width: 30%;
}
.about-me .img-2 {
    min-width: 6.25rem;
}
.aboutme-container {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 36px; */
}
.aboutme-container .button {
    width: 248px;
}

/* MY WORKS */
.my-works {
    background-color: #222226;
    margin: var(--paddingTop) -8px 0px -8px;
    padding: 0 8px;
    padding-bottom: 4rem;
    color: #F4F4F4;
}
table, th, td {
    border: 1px solid #F4F4F4;
}
table {
    color:#F4F4F4;
    width: 100%;
    border-collapse: collapse;
}
td {
    color: #F4F4F4;
    background-color: #222226;
}
td:hover {
    color:#E860ED;
    background-color: #F4F4F4;
}
td, th {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
    height: 19rem;
    text-align: center;
}
th {
    background-color: #F4F4F4;
    color: #222226;
}
th:hover {
    background-color: #E860ED;
    color: #F4F4F4;
}

/* FOOTER */
footer {
    margin-top: var(--paddingTop);
}
.footer-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8rem;
}
.footer-wrapper img {
    padding: var(--gap) 0 0 var(--gap)
}
.footer-contact {
    padding-top: var(--gap);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
}
.footer-contact div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

/* COPYRIGHT */
.copyright {
    padding: 0.5rem 0;
    text-align: center;
    background-color: #F4F4F4;
    color: #222226;
}


/* MEDIA QUERIES */
@media screen and (max-width: 651px) {
    .web-elem, .nav-container{
        display: none;
    }
    .mobile-elem {
        display:flex;
    }
    html {
        font-size: 80%;
        --gap: 1rem;
        --headingHeight: 5rem;
    }
    .wrapper-grid {
        max-width: var(--maxWidth);
        margin: 0 auto;
        padding: 0 var(--gap);
        text-align: center;
    }

    .h-container_grid {
        width: 100%;
    }
    .hero-images {
        margin: 5rem -8px 0px -8px;
    }

    .about-me {
        /* margin: var(--paddingTop) auto 0 auto; */
        flex-direction: column;
        /* gap: 1.5rem; */
        height: auto;
    }
    .about-me .img-2 {
        max-height: 10rem;
    }
    .aboutme-container {
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .aboutme-container .button {
        width: 100%;
    }

    td, th {
        height: 24rem;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 2rem;
    }
    .footer-wrapper img {
        padding: 2rem 0 0 0;
    }

    h1 {
        font-size: 6rem;
    }
    h3, p, em {
        font-size: 1.2rem;
    }
    small {
        font-size: 1rem;
    }
}
@media screen and (min-width: 652px) and (max-width: 1239px) {
    .web-elem{
        display: flex;
    }
    .mobile-elem, #menu-icon {
        display: none;
    }
    html {
        font-size: 90%;
        --gap: 2rem;
    }
    .h-container_grid {
        width: 100%;
    }

    .about-me {
        flex-direction: column;
        height: auto;
    }
    .about-me .img-2 {
        max-height: 10rem;
    }
    .aboutme-container {
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .aboutme-container .button {
        width: 100%;
    }
}
@media screen and (min-width: 1240px) {
    .web-elem{
        display: flex;
    }
    .mobile-elem, #menu-icon {
        display: none;
    }
    html {
        font-size: 100%;
        --gap: 5.75rem;
    }
}